.selectComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.label {
    display: flex;
    width: 22%;
    margin: 0.5rem;
    font-weight: bold;
}

.select {
    width: 20rem;
    max-width: 400px;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid;
  }

