@font-face {
  font-family: montserrat-bold;
  src: url('./../../public/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: montserrat-bold;
  src: url('./../../public/fonts/Montserrat-Bold.ttf');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

